<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <broker>
        <host>localhost</host>
        <port>1883</port>
        <user>admin</user>
        <password>password</password>
    </broker>
    <artifact>
        <name>Truck</name>
        <id>1</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>2</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>3</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>4</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>5</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>6</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>7</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>8</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>9</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>10</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>11</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>12</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>13</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>14</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>15</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>16</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>17</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>18</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>19</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>20</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>21</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>22</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>23</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>24</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>25</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>26</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>27</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>28</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>29</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>30</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>31</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>32</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>33</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>34</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>35</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>36</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>37</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>38</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>39</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>40</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>41</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>42</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>43</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>44</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>45</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>46</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>47</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>48</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>49</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>50</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>51</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>52</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>53</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>54</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>55</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>56</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>57</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>58</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>59</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>60</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>


    
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_1</process-instance>
        <stream-file-path>shipment-1-data/shipper1.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_2</process-instance>
        <stream-file-path>shipment-1-data/shipper2.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_3</process-instance>
        <stream-file-path>shipment-1-data/shipper3.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_4</process-instance>
        <stream-file-path>shipment-1-data/shipper4.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_5</process-instance>
        <stream-file-path>shipment-1-data/shipper5.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_6</process-instance>
        <stream-file-path>shipment-1-data/shipper6.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_7</process-instance>
        <stream-file-path>shipment-1-data/shipper7.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_8</process-instance>
        <stream-file-path>shipment-1-data/shipper8.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_9</process-instance>
        <stream-file-path>shipment-1-data/shipper9.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_10</process-instance>
        <stream-file-path>shipment-1-data/shipper10.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_11</process-instance>
        <stream-file-path>shipment-1-data/shipper11.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_12</process-instance>
        <stream-file-path>shipment-1-data/shipper12.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_13</process-instance>
        <stream-file-path>shipment-1-data/shipper13.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_14</process-instance>
        <stream-file-path>shipment-1-data/shipper14.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_15</process-instance>
        <stream-file-path>shipment-1-data/shipper15.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_16</process-instance>
        <stream-file-path>shipment-1-data/shipper16.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_17</process-instance>
        <stream-file-path>shipment-1-data/shipper17.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_18</process-instance>
        <stream-file-path>shipment-1-data/shipper18.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_19</process-instance>
        <stream-file-path>shipment-1-data/shipper19.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_20</process-instance>
        <stream-file-path>shipment-1-data/shipper20.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_21</process-instance>
        <stream-file-path>shipment-1-data/shipper21.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_22</process-instance>
        <stream-file-path>shipment-1-data/shipper22.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_23</process-instance>
        <stream-file-path>shipment-1-data/shipper23.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_24</process-instance>
        <stream-file-path>shipment-1-data/shipper24.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_25</process-instance>
        <stream-file-path>shipment-1-data/shipper25.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_26</process-instance>
        <stream-file-path>shipment-1-data/shipper26.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_27</process-instance>
        <stream-file-path>shipment-1-data/shipper27.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_28</process-instance>
        <stream-file-path>shipment-1-data/shipper28.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_29</process-instance>
        <stream-file-path>shipment-1-data/shipper29.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_30</process-instance>
        <stream-file-path>shipment-1-data/shipper30.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_31</process-instance>
        <stream-file-path>shipment-1-data/shipper31.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_32</process-instance>
        <stream-file-path>shipment-1-data/shipper32.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_33</process-instance>
        <stream-file-path>shipment-1-data/shipper33.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_34</process-instance>
        <stream-file-path>shipment-1-data/shipper34.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_35</process-instance>
        <stream-file-path>shipment-1-data/shipper35.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_36</process-instance>
        <stream-file-path>shipment-1-data/shipper36.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_37</process-instance>
        <stream-file-path>shipment-1-data/shipper37.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_38</process-instance>
        <stream-file-path>shipment-1-data/shipper38.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_39</process-instance>
        <stream-file-path>shipment-1-data/shipper39.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_40</process-instance>
        <stream-file-path>shipment-1-data/shipper40.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_41</process-instance>
        <stream-file-path>shipment-1-data/shipper41.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_42</process-instance>
        <stream-file-path>shipment-1-data/shipper42.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_43</process-instance>
        <stream-file-path>shipment-1-data/shipper43.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_44</process-instance>
        <stream-file-path>shipment-1-data/shipper44.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_45</process-instance>
        <stream-file-path>shipment-1-data/shipper45.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_46</process-instance>
        <stream-file-path>shipment-1-data/shipper46.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_47</process-instance>
        <stream-file-path>shipment-1-data/shipper47.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_48</process-instance>
        <stream-file-path>shipment-1-data/shipper48.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_49</process-instance>
        <stream-file-path>shipment-1-data/shipper49.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_50</process-instance>
        <stream-file-path>shipment-1-data/shipper50.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_51</process-instance>
        <stream-file-path>shipment-1-data/shipper51.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_52</process-instance>
        <stream-file-path>shipment-1-data/shipper52.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_53</process-instance>
        <stream-file-path>shipment-1-data/shipper53.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_54</process-instance>
        <stream-file-path>shipment-1-data/shipper54.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_55</process-instance>
        <stream-file-path>shipment-1-data/shipper55.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_56</process-instance>
        <stream-file-path>shipment-1-data/shipper56.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_57</process-instance>
        <stream-file-path>shipment-1-data/shipper57.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_58</process-instance>
        <stream-file-path>shipment-1-data/shipper58.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_59</process-instance>
        <stream-file-path>shipment-1-data/shipper59.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>instance_60</process-instance>
        <stream-file-path>shipment-1-data/shipper60.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
</configuration>