<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <broker>
        <host>localhost</host>
        <port>1883</port>
        <user>admin</user>
        <password>password</password>
    </broker>
    <artifact>
        <name>Truck</name>
        <id>12345</id>
        <stream-file-path>shipment-1-data/truck-1-compliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <artifact>
        <name>Truck</name>
        <id>98765</id>
        <stream-file-path>shipment-1-data/truck-1-uncompliant.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </artifact>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>s1</process-instance>
        <stream-file-path>shipment-1-data/shipper1.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
    <stakeholder>
        <name>Shipper</name>
        <process-instance>s2</process-instance>
        <stream-file-path>shipment-1-data/shipper2.csv</stream-file-path>
        <host>localhost</host>
        <port>1883</port>
    </stakeholder>
</configuration>